@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

/* SLIDER */
button{
  box-shadow: none !important;
}
.offcanvas{
    background-color: #212529 !important;
    border:0px !important;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}
li{
    background-color: transparent !important;
    font-size: larger;
    font-weight: 400;
}
.list-group{
    margin-top: 40%;
}

.svg{
    fill:#8EC63F;
}
.accounts{
    text-decoration: none !important;
    color:#8EC63F !important;
    font-size: larger;
}
.accounts:hover{
    border:solid #8EC63F 2px;
    border-radius: 5px;
    color:#8EC63F !important;
    padding:4px;
    transition: 0.175s;
}

/* FORM */

label{
  color:#8EC63F;
}

.head{
  font-family: 'Sorts Mill Goudy', serif;
  color: #8EC63F !important;
}
.btn.btn-success{
  border-color: white !important;
  color: white !important;
  background-color: transparent !important;
}
.btn.btn-success:hover{
  color:black !important;
  border-color: black !important;
  background-color: #8EC63F !important;
}
.card{
  margin-top: 10%;
  background-color: #212529 !important;
}
input{
  background-color:whitesmoke !important;
}