{% extends 'loginApp/base.html' %}
{% block content %}
{% load static %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">
        <img src="{% static 'logo.png' %}" alt="" width="150px" height="60">
      </a>
      
      <button class="btn acc" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path style="color:#8EC63F" d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path style="color:#8EC63F" fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        
          
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        
        <div class="offcanvas-body align-middle">
            <ul class="list-group list-group-flush">
                <h5 class="offcanvas-header" style="margin: auto;">ACCOUNTS</h5>
                <li class="list-group-item"><a href="#">Franchise/Investor</a></li>
                <li class="list-group-item"><a href="#">Host</a></li>
                <li class="list-group-item"><a href="#">Evtron Admin</a></li>
              </ul>
        </div>
      </div>

      
    </div>
  </nav>

  
<p class="test">test</p>
{% endblock %}